<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="text-center">SIGNUP</h2>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label for="email">E-Mail:</label>
                                <input name="email" value="{{email}}" type="email" placeholder="Email..." class="form-control" autofocus/>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input name="username" value="{{username}}" type="text" placeholder="Username..." class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input name="password" value="{{password}}" type="password" placeholder="Password..." class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm Password:</label>
                                <input name="confirm_password" value="{{confirm_password}}" type="password" placeholder="Confirm Password..." class="form-control"/>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullName">Full Name:</label>
                                <input name="fullName" value="{{fullName}}" type="text" placeholder="Full Name..." class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="avatar">Avatar:</label>
                                {{!-- <input name="avatar" value="{{avatar}}" type="text" placeholder="URL Avatar..." class="form-control"/> --}}
                                <input type="file" name="avatar" value="{{avatar}}" class="form.control">
                            </div>
                            <div class="form-group">
                                <label for="avatar">Role:</label>
                                <select name="role" class="form-control" value="{{role}}" >
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="EDITOR">EDITOR</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="avatar">State:</label>
                                <select name="state" class="form-control" value="{{state}}" >
                                    <option value="true">ON</option>
                                    <option value="false">OFF</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <input type="submit" value="SIGN UP" class="btn btn-dark btn-block btn-lg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>